.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #1e0d2f;
  height: 100%;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

.categorias {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 28%;
  background-color: #1e0d2f;
  height: 100%;
  padding-bottom: 230px;
}

.categoria-btn {
  margin: 5px;
  padding: 10px 20px;
  background-color: #4b3d59;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  overflow-wrap:break-word;
}

.categoria-btn:hover {
  background-color: #0b7dda;
}


.display-box {
  width: 300px;
  height: 100px;
  background-color: #3e2ea1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.display-box:hover {
  background-color: #3e2ea1;
}


h2 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #ffffff;
}


.categoria-btn.disabled {
  background-color: #ccc; /* Cor para desabilitado */
  color: #666;
  cursor: default; /* Remove o cursor pointer */
}



.respostas {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 4 colunas */
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 37%;
  background-color: #1e0d2f;
  height: 100%;
}

.resposta-btn {
  margin: 5px;
  padding: 10px 20px;
  background-color: #4b3d59;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  overflow-wrap:break-word;
}


.resposta-btn.errada {
  background-color: #5a0202; 
  color: #ffffff;
  cursor: default;
}

.resposta-btn.certa {
  background-color: #3d4434; 
  color: #ffffff;
  cursor: default;
}

.verifica-erros{

  margin: 5px auto;
  padding: 10px 20px;
  background-color: #4b3d59;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  overflow-wrap:break-word;
  cursor: pointer;
  

}


#box-resposta{
  margin: 0 22%;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  
}